.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitignore
public/build
public/hot
public/storage
*.log
.phpunit.cache
.vscode
.idea
template laporan realisasi mingguan.xlsx
docs
